.container {
    display: grid;
    gap:10px;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "menu content";
}

.main-head {
    grid-area: header;
}
.menu {
    grid-area: menu;
    background-color: var(--bgSoft);
    padding: 20px;
}
.content {
    grid-area: content;
    padding: 20px;
}